* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    gap: 16px;
    align-items: center;
}

.mainContainer {
    display: flex;
    background-color: #040405;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.mainDivWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100%;
    gap: 112px;
}

header {
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;

}

.navLinks {
    color: #fff;
    font-weight: 500;
    line-height: 24px;
}

.walletButton {
    padding: 12px 24px;
    background-color: #00FF1A;
    border-radius: 24px;
    border: solid #00FF1A;
    color: #000000;
    font-weight: 700;
}
main{
    display: flex;
    flex-direction: column;
    gap: 112px;
}
.betterBoostContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crvContainer {
    display: flex;
    max-width: 564px;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.convexMainDiv {
    max-width: 255px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.convexDiv {
    border: 1px solid #00FF1A;
    max-width: 91px;
    width: 100%;
    height: 0px;
}

.welcomeConvexDiv {
    max-width: 152px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.welcomeConvexP {
    color: #FFFFFF;
    font-weight: 500;
}

.earnDiv {
    max-width: 564px;
    width: 100%;
}

.earnh2 {
    font-size: 72px;
    color: #fff;
    font-weight: 900;
}

.depositDiv {
    max-width: 546px;
    width: 100%;
    display: flex;
    
}

.depositP {
    color: #7A7A7A;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.crvButtonsDiv {
    display: flex;
    gap: 16px;
    max-width: 298px;
    width: 100%;
}

.stakeNowButton {
    padding: 12px 24px;
    background-color: #00FF1A;
    border-radius: 24px;
    border: solid #00FF1A;
    color: #000000;
    font-weight: 700;
}

.howItWorksButton {
    border-radius: 24px;
    border: 1px solid #00FF1A;
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px 24px;
}
.valuteDiv{
    display: flex;
    max-width: 815px;
    width: 100%;
    padding-top: 24px;
    border-top: 1px solid #00FF1A;
    justify-content: space-between;
}
.convexValuteDiv{
    display: flex;
    max-width: 158px;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}
.numbersP{
    font-size: 32px;
    color: #fff;
    font-weight: 500;
}
.numbersTextP{
    color: #7A7A7A;
    font-size: 20px;
    font-weight: 400;

}
.revenueDiv{
    display: flex;
    max-width: 161px;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}
.earnedDiv{
    display: flex;
    max-width: 195px;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}
.lockedDiv{
    display: flex;
    max-width: 181px;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}
.boostedDiv{
    display: flex;
    gap: 22px;
}
.bostedTextDiv{
    display: flex;
    max-width: 567px;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}
.greenBorderDiv{
    max-width: 91px;
    width: 100%;
    border: 1px solid #00FF1A;
    height: 0px;
}
.LiquidityProviderDiv{
    display: flex;
    max-width: 237px;
    width: 100%;
    gap: 12px;
    align-items:center;
}
.frogH3{
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 900;
}
.WithdrawalsDiv{
    display: flex;
    gap: 16px;
}
.WithdrawalsWrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.boostP{
    color: #7A7A7A;
}
.paymentMethodDiv{
    display: flex;
    flex-direction: column;
    gap: 16px;
}